.container {
  margin-top: 2.2rem;

  width: 27rem;
  position: relative;
  left: -6.8rem;
}
.title {
  font-weight: 700;
  font-style: normal;
  font-size: 2.4rem;
  line-height: 3rem;

  margin-bottom: 2.4rem;
}
.box {
  padding: 1.6rem;
  background: white;
  border: 1px solid black;
  border-radius: 1.2rem;

  display: flex;
  flex-direction: column;
  gap: 0.8rem;

  margin-bottom: 1.6rem;
}
.duration {
  font-family: "Source Sans Pro", sans-serif;
  color: var(--gray-1);
  font-style: normal;
  font-weight: 400;
  font-size: 1.2rem;
  line-height: 1.2rem;
}
.major {
  font-style: normal;
  font-weight: 900;
  font-size: 1.6rem;
  line-height: 1.8rem;
}
.place {
  font-family: "Source Sans Pro", sans-serif;
  color: var(--gray-1);
  font-style: normal;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 2rem;
}
