.container {
  grid-row: 6/7;
  grid-column: 1/-1;
}
.link:link,
.link:visited {
  font-family: "Source Sans Pro", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 1.4rem;
  text-decoration: none;
  color: var(--gray-1);
}
.link:hover,
.link:active {
  color: black;
}
