.container {
  padding: 1.6rem;
  width: 29.5rem;
  background: white;
  border: 1px solid black;
  border-radius: 1.2rem;
  box-shadow: 1.6rem 1.6rem 0 var(--color-4);
  position: relative;
  left: -6.8rem;
}
.list {
  list-style: none;

  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.item {
  font-style: normal;
  font-weight: 700;
  font-size: 1.4rem;
  line-height: 1.4rem;
  color: black;
}
.link:link,
.link:visited {
  font-family: "Source Sans Pro", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 1.4rem;
  text-decoration: none;
  color: var(--gray-1);
}
.link:active,
.link:hover {
  color: black;
}
