.container {
  grid-row: 2/6;
}
.title {
  font-weight: 700;
  font-style: normal;
  font-size: 2.4rem;
  line-height: 3rem;

  margin-bottom: 2.4rem;
}
.columnCard {
  display: flex;
  flex-direction: column;
  gap: 3.2rem;

  position: relative;
  left: -6.8rem;

  margin-bottom: 4.8rem;
}
